body{text-align: center;}

/* top bar */
.topnav {
  background-color: rgb(15, 15, 15);
  overflow: hidden;
  position:fixed;
  top:0;
  width:100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:helvetica;
  font-size: 17px;
}

li::marker {
    color: white
}

.topnav a:hover {
     animation-name:rainbowloop;
animation-duration:5s;
animation-iteration-count:infinite;
}

div.main-home{
    margin-top:100px;
}
div.main-changelog{
    margin-top:100px;
}

div.main-about{
    margin-top:100px;
}

 /* bar end */

@keyframes rainbowloop {
     0%{color: red;}
     15%{color: orange;}
     35%{color: yellow;}
     50%{color: green;}
     65%{color: blue;}
     78%{color: indigo;}
     89%{color: violet;}
     100%{color: red}
    }
    
h1, p, h3 {font-family:helvetica;color:white}

.growp {transition:font-size 1s;}
.growp:hover {font-size:36px;font-weight:bold}
        
img.papyrus{width:590px;height:164px;transition:width 1s, height 1s;}
img.papyrus:hover{width:640px;height:180px;}

img.differentimg{transition:width 1s, height 1s;}
img.differentimg:hover{width:260px;height:230px;}
img.differentimg-2{transition:width 1s, height 1s;}
img.differentimg-2:hover{width:370px;height:280px;}

h1:hover{
/*animation:rainbowloop 5s infinite;*/
animation-name:rainbowloop;
animation-duration:5s;
animation-iteration-count:infinite;
}

iframe {transition:width 1s, height 1s;}

iframe:hover {width:1020px;height:630px;}

.smalltext{
    font-size:12px;
    margin:100px 0px 0px 0px;
}

p.rainbowtext:hover {
    animation-name:rainbowloop;
    animation-duration:2s;
    animation-iteration-count:infinite;
}
.rainbowww {
    animation-name:rainbowloop;
    animation-duration:5s;
    animation-iteration-count:infinite;
}


#gif{
    filter: blur(10px);
    transition: filter .5s;

}
#gif:hover{
    filter:blur(0px);
}

.trollfacepng {
    visibility:hidden;
}

.henryfr:active .trollfacepng {
    visibility: visible;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

ul {
    list-style-type: none;
    font-family:helvetica;
    color:white;
}

li {
    font-size:24px;
}

div.changelog-content{
    margin-left:-40px;
}


.hiddenaudio{
    visibility: hidden;
}


div.credits-box {
    background-color:rgb(15, 15, 15);
    border: white;
    border-style:solid;
    border-radius: 10px;
    padding:1px 0px 10px 0px;
    width:50%;
    left:25%;
    position:absolute;
}